.bg-stacked-waves-gradient {
	background-image: url('../stacked-waves-gradient.svg');
	background-size: auto 100%;
}

.bg-stacked-waves-primary {
	background-image: url('../stacked-waves-primary.svg');
	background-size: auto 100%;
}