@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
	background-image: url('../../assets/images/b.jpg');
	background-color: rgb(206, 206, 206);
	background-size: 20%;
}

.transparent {
	background-color: transparent !important;
}

.text-fancy {
	font-family: 'Caveat', cursive !important;
}

.bg-primary-light {
	background-color: #f0c0da !important;
}

.bg-primary-lightish {
	background-color: #e698c2 !important;
}

.bg-primary-lighter {
	background-color: #fdedf5 !important;
}

.bg-secondary-light {
	background-color: #c7b47f !important;
}

.bg-secondary-lightish {
	background-color: #d3b666 !important;
}

.bg-secondary-lighter {
	background-color: #f8f5ed !important;
}

.bg-shade {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.bg-shine {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-spread { letter-spacing: 4px; }

.text-spread-sm { letter-spacing: 2px; }

.text-spread-lg { letter-spacing: 8px; }