// [INIT] //
$primary: #d771a9;
$secondary: #c1a24e;
$info: rgb(94, 143, 250);
$white: white;


// [MIX][LIGHT] //
$primary-light: mix($primary, rgba(255, 255, 255, 1), $weight: 50%);
$secondary-light: mix($secondary, rgb(255, 255, 255), $weight: 50%);


// [MIX][LIGHTER] //
$primary-lighter: mix($primary, rgba(255, 255, 255, 1), $weight: 25%);
$secondary-lighter: mix($secondary, rgb(255, 255, 255), $weight: 25%);


// [MIX][LIGHTEST] //
$primary-lightest: mix($primary, rgba(255, 255, 255, 1), $weight: 10%);
$secondary-lightest: mix($secondary, rgb(255, 255, 255), $weight: 5%);


// [MIX][DARK] //
$secondary-dark: mix($secondary, rgb(0, 0, 0), $weight: 25%);


// [MIX][DARKER] //
$secondary-darker: mix($secondary, rgb(0, 0, 0), $weight: 50%);


// [MIX][DARKEST] //
$secondary-darkest: mix($secondary, rgb(0, 0, 0), $weight: 50%);